NET "ledState[0]" IOSTANDARD = LVCMOS33;
NET "ledState[1]" IOSTANDARD = LVCMOS33;
NET "ledState[2]" IOSTANDARD = LVCMOS33;
NET "ledState[3]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[7]" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "BLUE[1]" IOSTANDARD = LVCMOS33;
NET "BLUE[0]" IOSTANDARD = LVCMOS33;
NET "RED[2]" IOSTANDARD = LVCMOS33;
NET "RED[1]" IOSTANDARD = LVCMOS33;
NET "RED[0]" IOSTANDARD = LVCMOS33;
NET "GREEN[2]" IOSTANDARD = LVCMOS33;
NET "GREEN[1]" IOSTANDARD = LVCMOS33;
NET "GREEN[0]" IOSTANDARD = LVCMOS33;
NET "VSYNC" IOSTANDARD = LVCMOS33;
NET "HSYNC" IOSTANDARD = LVCMOS33;
NET "start_button" IOSTANDARD = LVCMOS33;

NET "ledState[3]" LOC = P17;
NET "ledState[2]" LOC = P18;
NET "ledState[1]" LOC = N15;
NET "ledState[0]" LOC = N16;
NET "led[7]" LOC = T17;
NET "led[6]" LOC = T18;
NET "led[5]" LOC = U17;
NET "led[4]" LOC = U18;
NET "led[3]" LOC = M14;
NET "led[2]" LOC = N14;
NET "led[1]" LOC = L14;
NET "led[0]" LOC = M13;
NET "clk" LOC = V10;
NET "reset" LOC = C9;
NET "RED[0]" LOC = U7;
NET "RED[1]" LOC = V7;
NET "RED[2]" LOC = N7;
NET "BLUE[1]" LOC = T7;
NET "BLUE[0]" LOC = R7;
NET "GREEN[2]" LOC = V6;
NET "GREEN[1]" LOC = T6;
NET "GREEN[0]" LOC = P8;
NET "HSYNC" LOC = N6;
NET "VSYNC" LOC = P7;
NET "start_button" LOC = A8;

NET "CS"		LOC = "K2";			#JB1
NET "SDO"	LOC = "K1";			#JB2
NET "SDI"	LOC = "L4";			#JB3
NET "SCLK"	LOC = "L3";			#JB4

#NET "light" IOSTANDARD = LVCMOS33;
#NET "light" LOC = U16;
